.header {
    height: 70px;
    background: #000000;
    width: 100%;
}

.container {
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    width: 50%;
}

.logo__text {
    font-family: 'Raleway', 'sans-serif';
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 20px 0px;
}

.logo-color {
    color: #EC7979;
}

.navigation {
    margin-right: 0px;
}

.navigation__list {
    display: flex;
    padding: 0px;
    list-style-type: none;
}

.navigation__item {
    margin: 24px 0px auto 48px;
    display: flex;
    justify-content: flex-end;
}

.navigation__link {
    text-decoration: none;
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}