.design {
    height: 326px;
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url(../../images/section_background.svg) no-repeat center;
    background-size: cover;
}

.design__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.devider-container--padding {
    padding-top: 58px;
}

.devider__title--white {
    color: #FFFFFF;
}

.devider--white {
    margin: 34px 0;
    border-top: 1px solid #FFFFFF;
}

.design__slogan {
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8); 
}

.design__button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 38px;
}