#advantages {
    height: 600px;
}

.devider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.devider__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

.devider--red {
    margin: 34px 0;
    border-top: 1px solid #E72424;
    
}

.devider__undertitle {
    font-family: Open Sans;
    font-size: 14px;
    color: #86878B;
}

.advantages__container {
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
}

.advantages__card {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.icon__container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #E72424;
}

.icon__container--bulb {
    background: url(../../images/bulb-icon.svg) no-repeat center;
}

.icon__container--keyboard {
    background: url(../../images/keyboard-icon.svg) no-repeat center;
    
}

.icon__container--lightning {
    background: url(../../images/lightning-icon.svg) no-repeat center;
}

.advantage__title {
    margin: 30px 0px 16px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
}

.advantage__description {
    max-width: 350px;    
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-align: center;
}