#comments {
    height: 599px;
}

.comments__container {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
}

.comments__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 110px;
    background: #E2E2E2;
    border-radius: 7px;
}

.comments__text {
    padding: 0 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    text-align: center;

}

.person-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.person-container__box {
    width: 298px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    background: none;
}

.avatar {
    width: 70px;
    height: 70px;
    background: url('../../images/avatar.png') center no-repeat;
}

.person {
    max-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.person__name {
    display: block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.person__position {
    display: block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: end;
    color: #86878B;
}
