#sub-header {
    height: 601px;
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../../images/sub-header_background.png) no-repeat;
    background-size: cover;
}

.sub-header__container {
    display: flex;
    height: 100%;
}

.sub-header__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sub-header__logo {
    margin: 109px 0 32px;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.sub-header__title {
    max-width: 544px;
    margin-bottom: 32px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.devider {
    width: 64px;
    margin: 0;
    border: none;
    border-top: 1px solid #FFFFFF;
}

.sub-header__undertitle {
    margin: 39px 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.button {
    width: 135px;
    height: 42px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: none;
}

.sub-header__box--right {
    justify-content: center;
    align-items: flex-end;
}

.sub-header__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 370px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
}

.form__header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    height: 56px;
}

.form__main {
    display: flex;
    flex-direction: column;
    padding: 44px 59px 61px;
    gap: 16px;
}

.form__description {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.block__input-container{
    position: relative;
    
    & input {
        width: 252px;
        height: 38px;
        padding-left: 5px;
        font-size: 12px;
        border: none;
        border-bottom: 1px solid #BDBDBD;
        transform: rotate(0.38deg);
        
        &:focus {
            background: rgb(246, 243, 243);
            outline: none;
            border-bottom: 1px solid blueviolet;
            border-radius: 3px 3px 0px 0px;
        }
    }
}

.form__footer {
    width: 370px;
    height: 54px;
}

.form__button {
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    color: #FFFFFF;
    background: #EC7979;
    cursor: pointer;   
}