.sub-header {
    height: 601px;
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../../images/sub-header_background.png) no-repeat;
    background-size: cover;
}

.block {
    display: flex;
    width: 100%;
    height: 100%;
}

.block__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 601px;
}

.block__box--left {
    justify-content: flex-start;
}

.block__logo {
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    height: 70px;
    margin: 108px auto 32px 0px;
}

.block__title {
    font-family: 'Raleway', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 99px;
    margin-bottom: 32px;
}

.block__line {
    width: 64px;
    height: 0px;
    left: 110px;
    top: 341px;
    border: 1px solid #FFFFFF;
    margin: 0px auto 39px 0px;
}

.block__undertitle {
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color:#86878B;
    margin: 0px auto 39px 0px;  
}

.block__link {
    margin-left: 0px;
}

.button--sub-header {
    display: block;
}

.block__box--right {
    justify-content: center;
    align-items: flex-end;
}

.block__form {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0px;
}

.block__header {
    width: 370px;
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 44px;    
}

.block__main {
    margin: 0px 59px;
    height: auto;
}

.block__text {
    font-family: 'Open Sans','sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    margin-bottom: 5px;
}

.block__login-form {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 252px;
    height: 20px; 
    margin-bottom: 15px;   
}

.block__login-form--last {
    margin-bottom: 56px;
}

.block__description {
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.logo-color {
    text-transform: uppercase;
}

.block__footer {
    background: #EC7979;
    border-radius: 0px 0px 8px 8px;
    width: 370px;
    height: 54px;
}

.button__action {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
}