#tabs {
    height: 600px;
}

.container__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container__card--left {
    margin: 108px 118px 0px 0px
}

.container__tab {
    width: 112px;
    height: 110px;
    border-radius: 4px;
}

.container__tab {
    background: #333333;
    display: flex;
    align-items: center;
}

.container__tab--top {
    background: #EC7979;
}

.container__tab--mid {
    margin: 10px auto;
}

.container__title {
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container__card--mid {
    margin: 109px 50px 0px 0px;
}

.container__subtitle {
    margin-left: 0px;
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
}

.container__block-box {
    margin-bottom: 89px;
    width: 572px;
    height: 133px;
}

.container__text-description {
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.container__text-description--first {
    margin-top: 58px;
}

.container__text-description--sec {
    margin-top: 30px;
}

.button__action--tab {
    width: 135px;
    height: 42px;
    margin: 60px 0 0;
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 0px;
}

.container__pic {
    margin-top: 83px;
    margin-left: 0px;
    width: 320px;
    height: 253px;
    background: url(../../images/city.png) no-repeat center;
}