* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.wrap {
    width: 1400px; 
}

@import './header';
@import './sub-header';
@import './media';
@import './tabs';
@import './sectionAdvantages';
@import './sectionPrises';
@import './sectionComments';
@import './sectionDesign';
@import './contacts';
@import './footer';




