html {
    scroll-behavior: smooth;
}

.wrap {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto; 
}

@import './reset';
@import './header';
@import './sectionSubHeader';
@import './sectionMedia';
@import './sectionTabs';
@import './sectionAdvantages';
@import './sectionPrises';
@import './sectionComments';
@import './sectionDesign';
@import './sectionContacts';
@import './footer';
// @import './adaptive';




